@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff'),
    url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-italic.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-italic.woff2') format('woff2'),
    url('../fonts/lato-italic.woff') format('woff'),
    url('../fonts/lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff'),
    url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.25 Lato, Arial, Tahoma, Verdana, sans-serif;
    color: #848789;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    display: block;
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 35px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider {
    text-align: center;
    position: relative;
}

.main-slider img {
    display: block;
    margin: 0 auto;
}

.header .logo {
    margin: 0 32px;
    flex-shrink: 0;
    flex-basis: 94px;
}

.header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(50% - 47px);
}

.header .left-menu {
    justify-content: flex-end;
}

.header li a {
    color: #4d4959;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 5px 32px;
}

.header li {
    position: relative;
}

.header li:not(:last-child):after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: #4d4959;
    right: -1px;
    bottom: 8px;
}

.about-us {
    padding-top: 118px;
    padding-bottom: 145px;
    /* height: 470px; */
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
}

.about-us .img-box {
    padding-bottom: 35px;
}

.about-us h2 {
    color: #353738;
    margin-bottom: 38px;
}

.about-us .text {
    color: #848789;
    line-height: 34px;
}

.rewiew h2 {
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 37px 0px 30px;
    color: #353738;
}

.rewiew {
    text-align: center;
    padding: 123px 0px 64px;
    background: #f7f7f7;
}

.rewiew h2 span.min {
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 2px;
    color: #848789;
}

.text-five-block {
    max-width: 1038px;
    margin: 0 auto;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    padding-bottom: 100px;
}

.main-slider {
    margin-bottom: -4px;
}

.row {
    display: flex;
    position: relative;
}

.row [class^="col-"] {
    overflow: hidden;
}

.col-66 {
    width: 66.6%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.col-33 {
    width: 33.3%;
    flex-grow: 1;
    min-width: 400px;
    position: relative;
}

.col-33 {
}

/* .last .col-33 {
    position: relative;
} */

/* .last .col-33 img:not(.icon){
    position: absolute;
} */

.col-50 {
    width: 50%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.col-66 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-66 img:not(.icon) {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.col-100 {
    width: 100%;
}

/* .last {
    position: relative;
} */

.text-block {
    background: #fff;
    min-height: 400px;
    padding: 40px 68px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-block img {
    margin: 0 0 28px;
}

.text-block h4 {
    color: #353738;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 15px;
}

.text-block p {
    color: #848789;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: justify;
    padding-bottom: 50px;
}

.text-block p:after {
    content: '';
    background-color: rgba(53, 55, 56, 0.2);
    position: absolute;
    left: calc(50% - 25px);
    bottom: 10px;
    width: 50px;
    height: 1px;
}

.image-block {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

/* .full-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
} */

/* .image-block img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
} */

.treangle {
    position: relative;
}

.treangle::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    pointer-events: none;
    border-style: solid;
    border-color: transparent;
    border-width: 20px;
    height: 0;
    width: 0;
    border-top-color: #fff;
    margin-left: -20px;
}

.third-row img:not(.icon){
    position: absolute;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.twitter {
    background-color: #f7f7f7;
    position: relative;
}

.twitter .swiper-slide {
    text-align: center;
}

.twitter img {
    width: 26px;
    margin-top: 125px;
}

.twitter .account-time {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 38px 0 25px;
}

.twitter .account-time h4 {
    color: #353738;
}

.twitter .account-time span {
    margin-left: 10px;
    color: #848789;
}

.twitter p {
    font-size: 24px;
    color: #848789;
    font-style: italic;
    margin-bottom: 184px;
}

.twitter .swiper-pagination-bullets {
    margin-bottom: 68px;
}

.swiper-pagination-bullet {
    background-color: #272f35;
}

.swiper-pagination-bullet-active {
    background-color: #a9afb3;
}

.swiper-button-prev {
    color: #272f35;
}

.swiper-button-next {
    color: #272f35;
}

.full-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.shop .row .row [class^='col-'] {
    height: 267px;
    position: relative;
    overflow: hidden;
}

.shop [class^='col-'] a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shop [class^='col-'] a:before {
    content: '';
    opacity: 0;
    background-color: rgba(100, 194, 158, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: 5;
}

.shop [class^='col-'] a:hover:before {
    opacity: 1;
}

.shop [class^='col-'] a:hover .shop-now {
    opacity: 1;
}

.shop [class^='col-'] {
    min-width: auto;
}

#shop .full-height {
    height: 100%;
}

.shop .shop-now {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: .3s;
    z-index: 10;
}

.shop-now img {
    height: 30px;
    margin: 0 0 10px;
}

.discover {
    background: #282f35;
    max-height: 200px;
}

.discover .button {
    padding: 75px 0;
    max-width: 300px;
    margin: 0 auto;
}

.discover a {
    padding: 18px 57px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.form {
    padding: 109px 0;
}

.form {
    text-align: center;
}

.form .title-form p {
    font-size: 24px;
    color: #848789;
    font-style: italic;
    margin: 35px 0;
}

.form .form-inner input {
    padding: 27px 17px;
    width: 366px;
    max-width: 100%;
    font-size: 20px;
    color: #929292;
    font-style: italic;
    border: 1px solid #d3d7d9;
    height: 70px;
    max-height: 100%;
}

.form .form-inner input:focus {
    border: 1px solid #fff;
}

.form .form-inner input::-webkit-input-placeholder {
    color: #929292;
}

.form .form-inner button {
    width: 128px;
    max-width: 100%;
    font-size: 24px;
    height: 70px;
    max-height: 100%;
    background: #64c29e;
    border: none;
    color: #fff;
    margin-left: 8px;
    transition: .3s;
}

.form .form-inner button:hover {
    background: #fff;
    color: #929292;
    border: none;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    cursor: pointer;
}

.form .form-inner button:focus {
    border: none;
}

.footer {
    background: #f7f7f7;
    padding: 100px 0;
    color: #848789;
    font-size: 14px;
    font-style: italic;
}

.footer-information {
    display: flex;
    padding: 0 250px;
}

#footer .container .footer-information .col-33 {
    min-width: 100px;
}

.contacts {
    line-height: 18px;
}

.contacts p:first-child {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.social {
    text-align: center;
    display: flex;
    justify-content: center;
}

.social a:nth-child(2) {
    margin: 0 14px;
}

.designedby {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.designedby img {
    margin-left: 10px;
}

.menu-button {
    display: none;
}

@media (max-width: 1400px) {
    .last .col-33:last-child .full-image {
        transform: translate(-41.3%, -50%);
    }
}

@media (max-width: 1024px) {
    .header li a {
        font-size: 11px;
    }

    .header .logo img {
        max-width: 80%;
    }

    .about-us {
        padding-top: 98px;
        padding-bottom: 125px;
    }

    .about-us h2 {
        font-size: 18px;
    }

    .about-us .text {
        line-height: 24px;
    }

    .work h4 {
        font-size: 16px;
    }

    .work p {
        font-size: 14px;
    }


    .last .col-33:last-child .full-image {
        transform: translate(-38.3%, -50%);
    }

    .last .col-33:first-child .full-image {
        max-width: 80%;
    }

    .work .last img {
        /* max-width: 60%; */
    }

    .work .text-block {
        padding: 20px 20px 10px;
    }

    .swiper-wrapper .account-time {
        font-size: 18px;
    }

    .swiper-wrapper p{
        font-size: 14px;
    }

    .footer-information {
        padding: 0 40px;
    }
}

@media (max-width: 580px) {
    .footer-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer .container .footer-information .col-33 {
        width: 300px;
    }

    .contacts {
        text-align: center;
    }

    .designedby {
        justify-content: center;
    }

    .social {
        padding: 20px 0;
    }

    .footer {
        padding: 35px 0;
    }
}

